.navbar{
  display: flex;
  color: #FFFFFF;
  height: 120px;
  background-color: #4056A1;
  padding: 1.5em;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

#nav-logo{
  display: flex;
  font-family: 'Bungee';
  font-size: 45px;
}

#nav-prompt{
  display: flex;
}