.new-tweet{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tweet-button{
  background-color:  #4056A1;
  color: white;
  font-family: 'Bungee';
}

.text-area{
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
}

.tweet-form{
  width: 100%;
}

.lower-tweet{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.red{
  color: red;
}

.error-length{
  color:red;
  border-style: solid;
  padding: 3px;
  width: 75%;
  text-align: center;
  display: none;
}
.error-empty{
  color:red;
  border-style: solid;
  padding: 3px;
  width: 75%;
  text-align: center;
  display: none;
}

.error-icon{
  width: 30px;
  height: 30px;
}