.avatar{
  width: 60px;
  height: 60px;
}

.tweet-header{
  display: flex;
  justify-content: space-between;
}

.user-tag{
  display: flex;
  flex-direction: row;
}


.tweet{
  padding: 10px;
  margin-top: 40px;
  border-style: solid;
}

.tweet:hover{
  box-shadow: 5px 10px grey;
}

.tweet:hover .userhandle{
  font-weight: 700;
}

.tweet:hover .icon{
  display: inline-flex;
}


.tweet-footer{
  display: flex;
  border-top: 2px solid black;
  height: 50px;
  justify-content: space-between;
  align-items: flex-start;
}


.icon{
  display: none;
  width: 15px;
  height: 15px;
}

.user-text{
  overflow-wrap: break-word;
}

